.top{
    width: 100%;    
    height: 64px
}

.top>.title{
    height: 64px;
    float: right;
}

.top>.title>span{
    line-height: 64px;
    float: right;
}

.pic {
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    height: 200px;
    width: 200px;
}

.slogan {
    text-align: center;
    font-size: 25px;
    font-family: "宋体";
    color: #36f;
    margin-bottom: 30px;
}

.search {
    text-align: center;
    margin-bottom: 100px;
}

.input {
    width: 540px;
    height: 36px;
    font-family: "宋体";
    font-size: 18px;
    color: #222;
}

.btn {
    border: 0;
    width: 100px;
    height: 40px;
    background: #36f;
    font-size: 15px;
    color: #fff;
}

.footer {
    width: 100%;
}

.footer>.title {
    text-align: center;
    margin-bottom: 30px;
}